extends layout

block content
  #recorder.row
    .video
      video(autoplay=true)
      img#gif
      .buttons
        button#record Record
    canvas
    input#link(type="text")

  ul#gifs.row
    - each gif in gifs
      li
        a(href=gif.link())
          img(src="#{ gif.get('url') }")
