extends layout

block content
  #recorder
    video(autoplay=true)
    canvas
    img#gif
    button(id="record") Record
    button(id="stop") ◼

  ul#gifs.row
    - each gif in gifs
      li 
        img(src="#{gif}")
