extends layout

block content
  #recorder.row
    .video
      .instructions
        p To all the fellas out there with ladies to impress, it's easy to do just follow these steps:
        p 1. Turn on your camera.
        p 2. Click 'Record'.
        p 3. Do something tight.
        p 4. Get your link and share that shit.
      video(autoplay=true)
      img#gif
      .buttons
        button#record Record
    canvas
    a#link

  ul#gifs.row
    - each gif in gifs
      li
        a(href=gif.link())
          img(src="#{ gif.get('url') }")
