extends layout

block content
  #recorder.row
    video(autoplay=true)
    canvas
    img#gif
    input#link(type="text")
    button#record Record
    button#stop ◼

  ul#gifs
    - each gif in gifs
      li 
        img(src="#{gif}")
