!!! 5
html(lang="en")
  head
    link(rel='stylesheet', type='text/css', href='/styles/foundation.css')
    link(rel='stylesheet', type='text/css', href='/styles/app.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/jquery.base64.min.js')
    script(type='text/javascript', src='/javascripts/LZWEncoder.js')
    script(type='text/javascript', src='/javascripts/NeuQuant.js')
    script(type='text/javascript', src='/javascripts/GIFEncoder.js')
    script(type='text/javascript', src='/javascripts/media_recorder.js')
    script(type='text/javascript', src='/javascripts/app.js')
  body
    header
      h1 Ye Olde Gifster
    block content

