!!! 5
html(lang="en")
  head
    link(rel='stylesheet', type='text/css', href='/styles/foundation.css')
    link(rel='stylesheet', type='text/css', href='/styles/app.css')
    script(type='text/javascript', src='/javascripts/libraries/jquery.js')
    script(type='text/javascript', src='/javascripts/libraries/jquery.base64.min.js')
    script(type='text/javascript', src='/javascripts/libraries/json2.js')
    script(type='text/javascript', src='/javascripts/libraries/underscore.min.js')
    script(type='text/javascript', src='/javascripts/libraries/backbone.min.js')
    script(type='text/javascript', src='/javascripts/libraries/LZWEncoder.js')
    script(type='text/javascript', src='/javascripts/libraries/NeuQuant.js')
    script(type='text/javascript', src='/javascripts/libraries/GIFEncoder.js')
    script(type='text/javascript', src='/javascripts/media_recorder.js')
    script(type='text/javascript', src='/javascripts/namespace.js')
    script(type='text/javascript', src='/javascripts/models/gif.js')
    script(type='text/javascript', src='/javascripts/views/recorder.js')
    script(type='text/javascript', src='/javascripts/app.js')
  body
    header
      h1 Ye Olde Gifster
    block content

